.modal-content {
	h2 {
		margin-bottom: 20px;
		color: #0a0a0a;
		font-weight: 600;
		font-size: 19px;
		line-height: 26px;
	}
	p {
		margin-top: 20px;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #848484;
	}
}


.tg-link__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 55px;
	font-weight: 600;
	font-size: 14px;
	line-height: 14px;
	padding-top: 5px;
	padding-bottom: 5px;

	background: #ecf6ff;
	border-radius: 15px;
	padding: 0 10px;
	color: #307bf6;
	border: none;

	&:hover {
		box-shadow: 0 0 10px -2px #307bf6;
	}
}