<header>
	<div class="container">
		<div class="header-wrappper">
			<a routerLink="/" class="logo">
				<img src="images/logo.svg" alt="Logo" class="logo" />
			</a>
			<div class="header-center">
				<button routerLink="/withdrawal" class="sell-button">
					<img src="images/top-right.svg" alt="top-right.png">
					Сделать заявку на продажу
				</button>
				<div class="header-center__toggle">
					<button class="toggle__btn" [class.active]="activeButton === 'all'" (click)="setActiveButton('all')">Все
						заявки</button>
					<button class="toggle__btn" [class.active]="activeButton === 'my'" (click)="setActiveButton('my')">Мои
						заявки</button>
				</div>
			</div>
			<div class="navbar-right">
				<div class="balance">
					<div class="balance__count">
						<h6>Баланс</h6>
						<strong>0$</strong>
					</div>
					<div class="balance__info">
						<img src="images/info.svg" alt="info" width="18">
						<div class="tooltip">
							<p> Это внутренний баланс в НашГарант. Вы можете пополнять его и выводить без комиссии со своего
								аккаунта
								рума.</p>
						</div>
					</div>
				</div>
				<div class="profile">
					<button (click)="openModal()" class="profile__btn">
						Профиль
						<img src="images/profile.svg" alt="user" width="16" height="16">
					</button>
					<button class="logout__btn">
						<img src="images/logout.svg" alt="logout" width="16" height="16">
					</button>
				</div>
			</div>
		</div>
	</div>
</header>