<footer class="footer">
  <div class="footer-buttons">
    <button class="footer-button">💬 Жалобы и предложения</button>
    <button class="footer-button subscribe">✈ Подпишись на наш Telegram</button>
    <button class="footer-button">ℹ️ Инструкция по работе сервиса</button>
  </div>
  <div class="footer-links">
    <a routerLink="" class="footer-link">Лицензионный договор</a>
    <a routerLink="" class="footer-link">Политика конфиденциальности</a>
    <a routerLink="" class="footer-link">Политика AML / KYC</a>
  </div>
  <div class="footer-info">
    <p>
      NASHGARANT are trading names of LABCLUB-MNE DOO (No. 51082833), a company
      registered in Montenegro, located at: Naselje Svete Petke B.B., Budva,
      85310.
    </p>
    <p>© NASHGARANT, 2020-2024. All rights reserved.</p>
  </div>
  <div class="support">
    <button class="support-button">Техподдержка сервиса, онлайн 24/7</button>
  </div>
</footer>
