<div class="container big">
	<div class="deposit-head">
		<h2>Заявка на покупку ПокерОК</h2>
		<a (click)="goBack()" class="back-link">
			<img src="images/left-arrow.svg" alt="back link" width="14">
			Вернуться назад
		</a>
	</div>
	<form class="_def-form">
		<div class="form-left">
			<label class="info-order">
				Информация о заявке
				<img src="images/down-blue.svg" alt="select-arrow" width="8">
			</label>
			<div class="form-series">
				<label>Сумма покупки в RUB:</label>
				<div class="input-block">
					<input type="text" placeholder="От 10780.00 до 156847.92 RUB" />
					<span class="max-link">Максимум</span>
				</div>
				<div class="alert">
					Обязательное поле
				</div>
			</div>

			<div class="form-series">
				<label>Сумма покупки в USD:</label>
				<div class="input-block">
					<input type="text" placeholder="От 100.00 до 1454.99 USD" />
					<span class="max-link">Максимум</span>
				</div>
			</div>

			<div class="info-box">
				<img src="images/obmen-icon.svg" alt="obmen" width="19">
				<span>Курс обмена: 1 USD / 107.8 RUB</span>
			</div>
		</div>
		<div class="_card-form form-right">
			<div class="form-series form-series__right">
				<label>Ваш никнейм в ПокерОК:</label>
				<div class="input-block">
					<input type="text" placeholder="nashgarant" />
					<div class="alert">
						Обязательное поле
					</div>
				</div>
			</div>

			<div class="alert-box">
				<img src="images/warn-white.svg" alt="alert" width="19">
				<p>
					Внимательно заполняйте поле! Перевод средств сделают на указанный
					аккаунт.
				</p>
			</div>

			<button type="submit" class="submit-button">
				<img src="images/check-icon.svg" alt="check-icon" width="20">
				Подать заявку на покупку
			</button>

			<div class="terms-block">
				<input type="checkbox">
				<p class="terms">
					Подавая заявку, вы принимаете условия
					<a href="#">лицензионного договора</a>, а также соглашаетесь с
					<a href="#">политикой конфиденциальности</a> и
					<a href="#">политикой AML / KYC</a>
				</p>
			</div>
		</div>
	</form>
</div>