
.info-order {
	display: flex;
	align-items: center;
	column-gap: 3px;
	font-weight: 600;
	font-size: 14px;
	line-height: 13px;
	color: #307bf6;
}

.form-series__right {
	label {
		color: #fff;
	}
}

.form-right {
	max-width: 510px;
}



.alert-box {
	display: flex;
	align-items: flex-start;
	color: #fff;
	border: 1px solid #FFFFFF;
	border-radius: 15px;
	padding: 5px 14px;

	p {
		font-weight: 500;
		font-size: 12px;
		line-height: 19px;
		text-align: left;
	}
}