form {
	margin-top: 43px;
}

.result-box {
	background: transparent;
	border: 1px solid #D3DDE7;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding: 13px 14px;
	column-gap: 5px;
	img {
		display: block;
	}

	p {
		color: #fff;
		font-weight: 400;
		font-size: 14px;
		line-height: 14px;
	}
}